[Unit]
Description=openvpn2027
ConditionPathExists=/etc/openvpn-start
After=rclocal.service

[Service]
Type=forking
ExecStart=/etc/openvpn-start /etc/incrediblepbx2027.ovpn
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
PermissionsStartOnly=true
SysVStartPriority=99

[Install]
WantedBy=multi-user.target